/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.bluebutton{
  background-color: #0099a8;
  border-radius: 4px;
  color: white;
}

.oj-fwk-icon.oj-fwk-icon-magnifier.oj-button-icon.oj-start{
  color: white;
}

.bluebutton > button > div{
  color: white;
}

.formlayout{
  max-width: 30%;
  margin-right:8px;
}

.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.navbar{
  background-color: #031689;
}

#pageContent > header > div.navbar.oj-flex-bar.oj-sm-align-items-center > div.oj-flex-bar-middle.oj-sm-align-items-baseline > h1{
  color: white;
}
#drawerToggleButton > button > div > span.oj-web-applayout-offcanvas-icon.oj-button-icon.oj-start{
  color: white;
}

#icon_button2 > button > div > *{
  color: white;
}

.oj-table{
  border: 1px solid black;
  border-radius: 10px;
}

.oj-table-column-header-text{
  color: white;
}

.oj-table-body-row:nth-of-type(odd){
  background-color: #f0f0f0;
}

.oj-table-header .oj-component-icon{
  color: white;
}

.oj-table-header .oj-component-icon:hover{
  color: grey;
}

.oj-table-sort-icon-container{
  color: white;
}

.oj-table-sort-icon-container .oj-component-icon:hover{
  color: grey;
}


thead{
  background-color: #2b2b2b;
  color: white;
}

 .demo-popup {
      width: auto;  
      height: auto; 
      display: none;
      border-radius: 10px;
      background:#fbf9f8
      
      
    } 
    .demo-popup-body {
      width: auto;  
      height: auto; 
      display: flex; 
      flex-direction: column;
      align-items: stretch;
    } 
    .demo-popup-header {
      align-self: flex-start;
      /* margin-bottom: 0px; */
      text-align: center;
      border-bottom: .5px solid gray;
      max-width: 100%;
    } 
    .demo-popup-content {
      margin: 20px;
      overflow: auto;
      /* flex-basis: 60vh; */
    } 
    .demo-popup-footer {
      align-self: flex-end;
      margin-top: 10px; 
    }
    .oj-form-layout .oj-form.oj-enabled .oj-text-field-label-inside.oj-text-field .oj-text-field-container,
    .oj-text-field-label-inside.oj-text-field:not(.oj-read-only) .oj-text-field-container {
      min-height: 2.75em; }


