<!DOCTYPE html>
<html>
    <head>

    </head>
 <body class="demo-disable-bg-image">
      <div id="sampleDemo" style="" class="demo-padding demo-container">
        <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
          <div id="popupWrapper">
            <oj-popup id="popup1" class="demo-popup"
              tail="none" position.my.horizontal="center" position.my.vertical="center"
              position.at.horizontal="center" position.at.vertical="center"
              position.of="window" 
              >
                <div class="demo-popup-body">
                  <div class="demo-popup-header"><h5>ADD NEW SOURCE</h5></div>
                  <div class="demo-popup-content">

                        <div class="oj-flex oj-sm-flex-items-initial">
                        <div id="form-container"><span class="demo-screen-range"></span> 

                                <oj-form-layout direction="row" >
                                  <oj-input-text value="" label-hint="Source Name"></oj-input-text>
                                  <oj-form-layout direction="row" >
                                        <oj-input-text value="" label-hint="Email Address"></oj-input-text>

                       
                              

                                </div>
                                <div class="oj-flex oj-sm-flex-items-initial">
                                    
                  

                            
                                  <oj-combobox-one id="combobox1" value="Source Type"
                                                  style="max-width: 20em;">
                                    <oj-option value="IE">Internet Explorer</oj-option>
                                    <oj-option value="FF">Firefox</oj-option>
                                    <oj-option value="CH">Chrome</oj-option>
                                    <oj-option value="OP">Opera</oj-option>
                                    <oj-option value="SA">Safari</oj-option>
                                  </oj-combobox-one>
                                              

                                  <oj-combobox-one id="combobox1" value="Select SETP"
                                  style="max-width: 20em;">
                    <oj-option value="IE">Internet Explorer</oj-option>
                    <oj-option value="FF">Firefox</oj-option>
                    <oj-option value="CH">Chrome</oj-option>
                    <oj-option value="OP">Opera</oj-option>
                    <oj-option value="SA">Safari</oj-option>
                  </oj-combobox-one>
                
                                </oj-form-layout>
                </div>
                          </div>
                         
                  </div>
                  <div class="demo-popup-footer">

                        <oj-button id="btnCancel"  on-oj-action="[[cancelListener]]">
                                Submit
                              </oj-button>
                    <oj-button id="btnCancel"  on-oj-action="[[cancelListener]]">
                      Cancel
                    </oj-button>
                  </div>
                </div>    
            </oj-popup>
            <oj-button id="btnGo" on-oj-action="[[openListener]]">+ Add Source</oj-button>
          </div>
        </div>
      </div>

      <div id="pagingControlDemo">
        <oj-table id="table" aria-label="Departments Table"
               data="[[pagingDataProvider]]"
               selection-mode='{"row": "multiple", "column": "multiple"}'
               columns='[{"headerText": "Source Name", "field": "SourceName"},
                         {"headerText": "Source Type", "field": "SourceType"}]' 
               style="width: 100%;">
            <oj-paging-control id="paging" data="[[pagingDataProvider]]" page-size="10" slot="bottom">
            </oj-paging-control>
        </oj-table>
    </div> 
    <noscript><img src="https://www.oracle.com/akam/11/pixel_58114c48?a=dD1hOTBjMmRmNjRlYjk2YjdmZTAwMWI5Y2UxZWMxZTkzYTllNjQ4ZTMwJmpzPW9mZg==" style="visibility: hidden; position: absolute; left: -999px; top: -999px;" /></noscript></body>
  </html>