<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div id="popup_container" class="oj-sm-padding-2x oj-md-padding-2x">
        <div id="componentContent" style="width: 1px; min-width: 100%;">
            <div id="popupWrapper">
                <oj-popup id="popup1" class="popup1" tail="none" position.my.horizontal="center"
                    position.my.vertical="center" position.at.horizontal="center" position.at.vertical="center"
                    position.of="window">
                    <div class="header">
                        <h5>ADD NEW SOURCE</h5>
                    </div>
                    <div class="body">
                        <div class="content">

                            <div class="oj-flex oj-sm-flex-items-1">
                                <div class="oj-flex oj-sm-flex-items-initial" style="margin-right:10px;">

                                    <oj-form-layout>
                                        <oj-input-text value="" label-hint="Source Name"></oj-input-text>
                                        <oj-input-text value="" label-hint="Email Address"></oj-input-text>
                                </div>

                                <div class="oj-flex oj-sm-flex-items-initial">


                                    <oj-combobox-one id="combobox1" value="Source Type" style="max-width: 20em;">
                                        <oj-option value="IE">Email</oj-option>
                                        <oj-option value="FF">SFTP</oj-option>

                                    </oj-combobox-one>


                                    <oj-combobox-one id="combobox1" value="Select SETP" style="max-width: 20em;">
                                        <oj-option value="IE">Email</oj-option>
                                        <oj-option value="FF">SFTP</oj-option>
                                    </oj-combobox-one>

                                    </oj-form-layout>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="footer">
                        <oj-button id="btnCancel" on-oj-action="[[cancelListener]]">
                            CLOSE
                        </oj-button>
                        <oj-button id="btnSubmit" on-oj-action="[[cancelListener]]" class="bluebutton"
                            style="float: right;">
                            ADD
                        </oj-button>
                    </div>
            </div>
            </oj-popup>
            <oj-button id="btnGo" on-oj-action="[[openListener]]" class="bluebutton">+ Add Source</oj-button>
        </div>
    </div>

    <div class="oj-flex oj-sm-flex-items-1">
        <div class="formlayout oj-flex-item oj-sm-flex-0">
            <oj-button id="icon_button1" display='icons' chroming="solid">Icon Button
                <span slot='startIcon' class="demo-garbage-icon-24 demo-icon-font-24"></span>
            </oj-button>
        </div>
        <div class="formlayout oj-flex-item oj-sm-flex-auto">


            <oj-input-text value="" label-hint="Source Name"></oj-input-text>

        </div>
        <div class="formlayout oj-flex-item oj-sm-flex-auto">
            <oj-combobox-one id="combobox6" value="Source Type">
                <oj-option value="IE">Email</oj-option>
                <oj-option value="FF">SFTP</oj-option>
            </oj-combobox-one>
        </div>
        <div class="oj-flex-item oj-sm-flex-auto">
            <oj-button display='icons' class="bluebutton" chroming="borderless">Icon Button
                <span slot='startIcon' class="icontest oj-fwk-icon oj-fwk-icon-magnifier"></span>
            </oj-button>
        </div>
        <div class="oj-flex-item-end oj-sm-flex-auto">


            <div id='menubutton-container'>
                <oj-menu-button id="menuButton">
                    View
                    <!-- To handle menu item selection, use an action listener as shown, not a click listener. -->
                    <oj-menu id="myMenu" slot="menu" on-oj-action="[[menuItemAction]]">
                        <oj-option id="reorder" value="reorder">Reorder Columns
                        </oj-option>

                        <oj-option>---------------------------------</oj-option>
                        <oj-option id="zoom">
                            <span>Columns</span>
                            <oj-menu id="zoom_menu">
                                <oj-option id="showall" value="Show All">
                                    Show All
                                </oj-option>
                                <oj-option id="reorder" value="Reorder Columns">
                                    Reorder Columns
                                </oj-option>
                                <oj-option id="name" value="Name">
                                    Name
                                </oj-option>
                                <oj-option id="processid" value="Process ID">
                                    process ID
                                </oj-option>
                                <oj-option id="status" value="Status">
                                    Status
                                </oj-option>
                                <oj-option id="scheduletime" value="Schedule Time">
                                    Schedule Time
                                </oj-option>
                                <oj-option id="scheduledate" value="Schedule Date">
                                    Schedule Date
                                </oj-option>
                            </oj-menu>
                        </oj-option>
                    </oj-menu>
                </oj-menu-button>
                <oj-button id="btnSubmit" class="bluebutton">
                    Export
                </oj-button>


            </div>
        </div>
    </div>

    <div id="pagingControl" style="margin-top:10px">
        <oj-table id="table" aria-label="Departments Table" data="[[pagingDataProvider]]"
            selection-mode='{"row": "multiple", "column": "multiple"}' columns='[{"headerText": "Source Name", "field": "SourceName"},
                         {"headerText": "Source Type", "field": "SourceType"}]' style="width: 100%;">
            <oj-paging-control id="paging" data="[[pagingDataProvider]]" page-size="10" slot="bottom">
            </oj-paging-control>
        </oj-table>
    </div>

    <noscript><img
            src="https://www.oracle.com/akam/11/pixel_58114c48?a=dD1hOTBjMmRmNjRlYjk2YjdmZTAwMWI5Y2UxZWMxZTkzYTllNjQ4ZTMwJmpzPW9mZg=="
            style="visibility: hidden; position: absolute; left: -999px; top: -999px;" /></noscript>
</body>

</html>